[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "csa"]
	path = csa
	url = https://github.com/imarkonis/csa
[submodule "somspace"]
	path = somspace
	url = https://github.com/imarkonis/somspace
[submodule "twc"]
	path = twc
	url = https://github.com/imarkonis/twc
